<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"><a
        routerLink="add">add</a></button>
<div class="flex flex-col">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 inline-block min-w-full sm:px-4 lg:px-8">
            <div class="overflow-hidden">
                <table class="min-w-full">
                    <thead class="border-b">
                        <tr>

                            <th scope="col" class="text-sm font-medium text-gray-900 px-4 py-4 text-left">
                                Name
                            </th>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-4 py-4 text-left">
                                id
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr class="border-b" *ngFor="let prd of userList ">
                            <a routerLink="/admin/users/edit/{{prd._id}}">
                                <td class="text-sm text-gray-900 font-light px-4 py-4 whitespace-nowrap">
                                    {{prd.name}}
                                </td>
                                <td class="text-sm text-gray-900 font-light px-4 py-4 whitespace-nowrap">
                                    {{prd._id}}
                                </td>
                            </a>
                            <td class="text-sm max-w-[100px] text-gray-900 font-light px-4 py-4 whitespace-nowrap">
                                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                                    (click)="ondelete(prd._id)">delete</button>
                            </td>
                            <td></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>