<div class="w-full h-full bg-black bg-opacity-90 top-0 overflow-y-auto overflow-x-hidden fixed sticky-0" id="chec-div">
    <div class="w-full absolute z-10 right-0 h-full overflow-x-hidden transform translate-x-0 transition ease-in-out duration-700"
        id="checkout">
        <div class="flex items-end lg:flex-row flex-col justify-end" id="cart">
            <div class="lg:w-1/2 md:w-8/12 w-full lg:px-8 lg:py-14 md:px-6 px-4 md:py-8 py-4 bg-white overflow-y-auto overflow-x-hidden lg:h-screen h-auto"
                id="scroll">
                <div class="flex items-center text-gray-500 hover:text-gray-600 cursor-pointer">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-left" width="16"
                        height="16" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <polyline points="15 6 9 12 15 18" />
                    </svg>
                    <a routerLink="/" class="text-sm pl-2 leading-none">Back</a>
                </div>
                <p class="lg:text-4xl text-3xl font-black leading-10 text-gray-800 pt-3">Bag</p>
                <div class="md:flex items-strech py-8 md:py-10 lg:py-8 border-t border-gray-50"
                    *ngFor="let item of prdItem">
                    <div class="md:w-4/12 2xl:w-1/4 w-full">
                        <img src={{item.img}} alt="Black Leather Bag"
                            class="h-full object-center object-cover md:block hidden" />
                        <img src="https://i.ibb.co/g9xsdCM/Rectangle-37.pngg" alt="Black Leather Bag"
                            class="md:hidden w-full h-full object-center object-cover" />
                    </div>
                    <div class="md:pl-3 md:w-8/12 2xl:w-3/4 flex flex-col justify-center">
                        <p class="text-xs leading-3 text-gray-800 md:pt-0 pt-4">{{item._id}}</p>
                        <div class="flex items-center justify-between w-full pt-1">
                            <p class="text-base font-black leading-none text-gray-800">{{item.name}}</p>

                        </div>

                        <div class="flex items-center justify-between pt-5">
                            <div class="flex itemms-center">
                                <div class="flex py-4 space-x-4">

                                    <input class="w-[55px]" type="number" [value]="item.quantity"
                                        (input)="onInputValueChange($event)">

                                    <button (click)="checkCard(item._id)">xác nhận</button>
                                </div>
                            </div>
                            <p class="text-base font-black leading-none text-gray-800">{{item.price*item.quantity}}</p>
                        </div>
                    </div>
                </div>
                <div class="flex items-center pb-6 justify-between lg:pt-5 pt-20">
                    <p class="text-2xl leading-normal text-gray-800">Total</p>
                    <p class="text-2xl font-bold leading-normal text-right text-gray-800">{{total}}</p>
                </div>
                <button
                    class="text-base leading-none w-full py-5 bg-gray-800 border-gray-800 border focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 text-white">Checkout</button>
            </div>

        </div>
    </div>
</div>